Repository jwodder/versioningit, pull requests merged in 2024-03, with the labels that each got.

#78 Install `editables` in test env
  tox.ini
Labels: tests

#77 Improve error message when a tag is not found and match is set.
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/changelog.rst
  src/versioningit/__init__.py
  src/versioningit/git.py
  test/data/repos/errors/archive-no-tag.json
  test/data/repos/errors/archive-no-tag.marks
  test/data/repos/errors/archive-no-tag.zip
  test/data/repos/errors/hatch-no-tag.json
  test/data/repos/errors/no-tag.json
  test/data/repos/git/added-no-commits-default-tag.json
  test/data/repos/git/default-tag.json
  test/data/repos/git/default-version-bad.json
  test/data/repos/git/default-version-onbuild-write.json
  test/data/repos/git/default-version.json
  test/test_methods/test_git.py
Labels: method:git-archive, method:git, vcs:git, UX, step:vcs

#79 hg method: Include pattern (if any) in messages about tag-retrieval failure
  CHANGELOG.md
  docs/changelog.rst
  src/versioningit/hg.py
  test/data/repos/errors/hg-no-tag.json
  test/data/repos/errors/hg-no-tag.zip
  test/data/repos/hg/default-tag-fallback.fields.json
  test/data/repos/hg/default-tag-fallback.json
  test/data/repos/hg/default-tag-fallback.zip
  test/test_methods/test_hg.py
Labels: UX, step:vcs, vcs:hg, method:hg
